#header {
    & .header__toolbar {
        width: 100%;
        background-color: $grey;
        font-size: 14px;
        color: $fontf;
        font-weight: 400;
        & .header__toolbar_container {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            & > div {
                display: flex;
                align-items: center;
            }
            & .header__toolbar_adress {
                display: flex;
                align-items: center;
                margin: 0 60px 0 0;
                &:before {
                    content: '';
                    background-image: url(/assets/images/icons/geo.svg);
                    background-size: contain;
                    width: 12px;
                    height: 17px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
            }
            & .header__toolbar_phone {
                margin: 0 20px 0 0;
                & a {
                    color: $fontf;
                    &:last-child {
                        display: inline-flex;
                        align-items: center;
                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            background-color: $orange;
                            display: inline-block;
                            border-radius: 50%;
                            margin: 0 6px;
                        }
                    }
                }
            }
            & .callback__popup {
                margin: 0 30px 0 0;
                position: relative;
                color: $orange;
                cursor: pointer;
                & img {
                    width: 14px;
                    height: 14px;
                    margin: 0 10px 0 0;
                }
                & span {
                    border-bottom: 1px dashed $orange;
                }
            }
            & .social__links {
                & > a {
                    display: flex;
                    align-items: center;
                    background-position: center;

                }
                & .vk_link {
                    background-image: url(/assets/images/icons/vk.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 21px;
                    height: 13px;
                    margin: 0 23px 0 0;
                }
                & .inst_link {
                    background-image: url(/assets/images/icons/Insta.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    & .header__container {
        padding: 10px 0;
        border-bottom: 1px solid #E5E5E5;
        & .header__logo {
            display: flex;
            & img {
                width: 110px;
                object-fit: contain;
            }
        }
        & .header__nav {
            display: flex;
            padding: 0 35px 0 75px;
            & .nav {
                display: flex;
                justify-content: space-between;
                height: inherit;
                align-items: center;
                width: 100%;
                & .nav_li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    & > a {
                        color: $fontd;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    &.have_subnav {
                        &:after {
                            content: '';
                            background-image: url(/assets/images/icons/arrow-orange.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 6px;
                            display: inline-block;
                            margin: 2px 0 0 5px;
                        }
                    }
                }
            }
            & .nav_li:hover {
                & .subnav {
                    display: flex;
                    flex-direction: column;
                    animation: navhover  0.5s ease-in-out;
                    z-index: 10;
                    border-radius: 6px;
                }
            }
            & .subnav {
                display: none;
                z-index: -1px;
                position: absolute;
                top: 15px;
                white-space: nowrap;
                background-color: #fff;
                padding: 20px 10px 10px 20px;
                left: -20px;
                line-height: 20px;
                & .subnav_li {
                    & a {
                        color: $fontd;
                    }
                }
            }
        }
        & .header__auth {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            & a {
                border: 2px solid #BEBEBE;
                padding: 12px 15px;
                color: $fontd;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 16px;
                &:before {
                    content: '';
                    background-image: url(/assets/images/icons/user-auth.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 20px;
                    display: inline-block;
                    margin: 0px 12px 0 0px;
                    background-size: contain;
                }
            }
        }
    }
}

@keyframes navhover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
