$orange: #F78F1E;
$grey: #415968;
$green: #5AC297;
$border: #BEBEBE;
$fontf: #fff;
$fontd: #333;

.index__slider {
    background-color: #F4F4F4;
    padding: 20px 0 20px 0;
    & .index-slider {
        border-radius: 6px;
        & .swiper-slide {
            position: relative;
            & img {
                max-width: 100%;
                object-fit: cover;
            }
            & .swiper-slide-text {
                position: absolute;
                left: 110px;
                top: 25%;
                display: flex;
                flex-direction: column;
                & .swiper-slide-title {
                    color: $fontf;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 55px;
                }
                & .swiper-slide-subtitle {
                    margin: 10px 0 0 0;
                    color: $fontf;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        & .swiper-button-prev{
            &:after {
                content: '';
                background-image:url(/assets/images/icons/arrow-slider.svg);
                width: 29px;
                height: 54px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        & .swiper-button-next{
            &:after {
                content: '';
                background-image:url(/assets/images/icons/arrow-slider.svg);
                width: 29px;
                height: 54px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(-180deg);
            }
        }
    }
}

.category__brands {
    display: flex;
    background-color: #F4F4F4;
    & .category__brands_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > a {
            display: inline-flex;
            width: 19%;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 6px;
            height: 90px;
            color: $fontd;
            font-weight: 500;
            & img {
                margin: 0 10px 0 0;
                max-height: 36px;
                object-fit: contain;
            }
            &:hover {
                background-color: $grey;
                transition: 0.3s;
                cursor: pointer;
                color: #A5BBC9;
                box-shadow: 5px 5px 12px #0000003d;
            }
        }
    }
}

.popular__cars {
    background-color: #F4F4F4;
    padding: 0 0 60px 0;
    & .cars__cards {
        display: flex;
        justify-content: space-between;
        & .car__card {
            display: flex;
            flex-direction: column;
            padding: 25px;
            background-color: #fff;
            width: 24%;
            position: relative;
            border-radius: 6px;
            margin-bottom: 13px;
            & .car__card_interaction {
                position: absolute;
                left: 25px;
                top: 17px;
                display: flex;
                align-items: center;
                & > * {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                & .to-favorites{
                    background-image: url(/assets/images/icons/favorites.svg);
                    width: 20px;
                    height: 19px;
                    margin: 0 20px 0 0  ;
                }
                & .to-compare {
                    background-image: url(/assets/images/icons/compare.svg);
                    width: 18px;
                    height: 19px;
                }
            }
            & .car__card_stickers {
                position: absolute;
                right: 0;
                top: 6px;
                & .new {
                    background-color: $green;
                    color: $fontf;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 6px 14px;
                    border-radius: 0 6px 0 6px;
                }
                & .top {
                    background-color: $orange;
                    color: $fontf;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 6px 14px;
                    border-radius: 0 6px 0 6px;
                }
                & .soon {
                    background-color: $grey;
                    color: $fontf;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 6px 14px;
                    border-radius: 0 6px 0 6px;
                }
            }
            & .car__card_img {
                display: flex;
                margin: 20px 0 0 0;
                & img {
                    max-width: 250px;
                    min-width: 100px;
                    object-fit: contain;
                }
            }
            & .car__card_title {
                font-size: 20px;
                font-weight: 500;
                color: $fontd;
                margin: 25px 0 20px 0;
            }
            & .car__card_teh {
                display: flex;
                align-items: center;
                justify-content: space-between;
                & > * {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '';
                        height: 13px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 7px 0 0;
                    }
                }
                & .car__teh-engine:before {
                    background-image: url(/assets/images/icons/engine.svg);
                    width: 20px;
                }
                & .car__teh-gear {
                    padding: 0 20px;
                    border-left: 1px solid #E5E5E5;
                    border-right: 1px solid #E5E5E5;
                    &:before {
                    background-image: url(/assets/images/icons/gear.svg);
                    width: 10px;
                }
                }
                & .car__teh-rate:before {
                    background-image: url(/assets/images/icons/rate.svg);
                    width: 8px;
                }
            }
            & .car__card_price {
                margin: 25px 0 20px 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                & > * {
                    display: inline-flex;
                    &:not(.car__card_price-credit):after {
                        content: '\20BD';
                        margin-left: 3px;
                    }
                }
                & .car__card_price-old {
                    color: #666666;
                    text-decoration: line-through;
                    max-width: 60%;
                }
                & .car__card_price-sale {
                    border: 1px solid $orange;
                    border-radius: 0 6px 0 6px;
                    padding: 6px 8px;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 16px;
                    font-weight: 600;
                }
                & .car__card_price-main {
                    width: 100%;
                    font-size: 24px;
                    font-weight: 700;
                    margin: 11px 0 17px 0;
                }
                & .car__card_price-credit {
                    color: $orange;
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '';
                        background-image: url(/assets/images/icons/credit.svg);
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        margin: 0 5px 0 0;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    & p {
                        border-bottom: 1px dashed $orange;
                        & .per-month:before {
                            content: '\20BD';
                            margin-left: 1px;
                        }
                    }
                }
            }
            & .car__card_link {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $border;
                color: #666666;
                font-size: 16px;
                font-weight: 400;
                padding: 12px 0;
                border-radius: 4px;
            }
        }
    }
}

.used__cars {
    background-color: #fff;
    padding: 30px 0 0 0;
    & .car__item {
        display: flex;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        padding: 13px 30px 13px 15px;
        margin: 0 0 13px 0;
        & .car__item_img {
            max-width: 260px;
            position: relative;
            & img {
                max-width: inherit;
                object-fit: contain;
            }
        }
        & .car__item_sticker {
            position: absolute;
            top: 6px;
            right: 0;
            & .soon {
                background-color: $grey;
                color: $fontf;
                font-size: 12px;
                font-weight: 500;
                padding: 6px 14px;
                border-radius: 0 6px 0 6px;
            }
        }
        & .car__item_about {
            display: flex;
            flex-direction: column;
            margin: 12px 0 0 30px;
        }
        & .car__item_about-title {
            font-weight: 500;
            font-size: 20px;
            margin: 0 0 18px 0;
            display: flex;
            & > ul {
                display: flex;
                margin: 0 0 0 5px;
                & li {
                    width: 24px;
                    height: 24px;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin: 0 0 0 5px;
                    &.car__item-owners {
                        background-image: url(/assets/images/icons/owners.svg);
                    }
                    &.car__item-mileage {
                        background-image: url(/assets/images/icons/mileage.svg);
                    }
                    &.car__item-rubles {
                        background-image: url(/assets/images/icons/rubles.svg);
                    }
                }
            }
        }
        & .car__item_about-teh {
            & ul {
                display: flex;
                align-items: center;
                & li {
                    display: flex;
                    align-items: center;
                    &:not(:last-child) {
                        padding: 0 15px 0 0;
                        margin: 0 15px 0 0;
                        border-right: 1px solid #E5E5E5;
                    }
                    &:before {
                        content: '';
                        height: 13px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 7px 0 0;
                        background-size: contain;
                    }
                    &.car__teh-mileage:before {
                        background-image: url(/assets/images/icons/mileage-dark.svg);
                        width: 17px;
                    }
                    &.car__teh-engine:before {
                        background-image: url(/assets/images/icons/engine.svg);
                        width: 20px;
                    }
                    &.car__teh-gear:before {
                        background-image: url(/assets/images/icons/gear.svg);
                        width: 10px;
                    }
                    &.car__teh-rate:before {
                        background-image: url(/assets/images/icons/rate.svg);
                        width: 8px;
                    }
                }
            }
        }
        & .car__item_about-adv {
            margin: 20px 0 0 0;
            & ul {
                display: flex;
                flex-direction: column;
                & li {
                    display: flex;
                    align-items: center;
                    font-weight: 30;
                    margin: 0 0 10px 0;
                    &:before {
                        content: '';
                        width: 13px;
                        height: 10px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 7px 0 0;
                        background-size: contain;
                        background-image: url(/assets/images/icons/check-green.svg);
                    }
                }
            }
        }
        & .car__item_price {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin: 0 0 0 120px;
            & .car__item_price-title {
                font-weight: 600;
                font-size: 16px;
                margin: 0 0 8px 0;
            }
            & .car__item_price-main {
                font-size: 24px;
                font-weight: 600;
                &:after {
                    content: '\20BD';
                    margin-left: 3px;
                }
            }
            & .car__item_price-credit {
                color: $orange;
                display: flex;
                align-items: center;
                margin: 18px 0 0 0;
                &:before {
                    content: '';
                    background-image: url(/assets/images/icons/credit.svg);
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin: 0 5px 0 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                & p {
                    border-bottom: 1px dashed $orange;
                    & .per-month:before {
                        content: '\20BD';
                        margin-left: 1px;
                    }
                }
            }
        }
        & .car__item_buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin-top: 11px;
            margin-left: auto;
            & > * {
                font-weight: 500;
                font-size: 16px;
                padding: 15px 25px;
                border-radius: 6px;
                margin: 0 0 18px 0;
                text-align: center;
            }
            & .buy-reservation {
                color: $grey;
                background-color: #E5E5E5;
            }
            & .buy-credit {
                color: $fontf;
                background-color: $orange;
            }
        }
    }    
}

.callback__block {
    margin: 20px 0 0 0;
    & .callback__block_container {
        width: 100%;
        background-image: url(/assets/images/other/cakkback-banner.png);
        background-position: center left;
        background-size: cover;
        padding: 30px 40px;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        & .callback__block_form form {
            display: flex;
            flex-direction: column;
            & .callback__block_form-title {
                font-size: 40px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }
            & .callback__block_form-subtitle {
                margin: 0 0 25px 0;
            }
            & input {
                border: 1px solid #CACACA;
                padding: 15px 15px;
                outline: none;
                border-radius: 6px;
                margin-bottom: 10px;
                width: 265px;
            }
            & .callback__block_form-submit {
                background-color: $orange;
                color: $fontf;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                width: 265px;
                padding: 15px;
                border-radius: 6px;
                outline: none;
                border: none;
                margin: 10px 0 0 0;
            }
        }
        & .callback__block_adv {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            & .callback__block_adv-title {
                font-size: 22px;
                margin: 45px 0 0 0;
                font-weight: 500;
            }
            & ul {
                display: flex;
                flex-direction: column;
                margin: 25px 0 0 0;
                & li {
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0 0 15px 0;
                    &:before {
                        content: '';
                        width: 13px;
                        height: 10px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 7px 0 0;
                        background-size: contain;
                        background-image: url(/assets/images/icons/check-green.svg);
                    }
                }
            }
        }
    }
}
